<!DOCTYPE html>
<html lang="en" manifest="/cache.manifest">
  <head>
    <meta charset="utf-8">
    <title>Lectio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,max-scale=1,user-scalable=0">
    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Abel|Questrial">
    {{ if (env == 'production') { }}
    <link rel="stylesheet" href="/css/lectio.css">
    {{  } else { }}
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/images.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/tipsy.css">
    {{ } }}
    <script src="/js/modernizr-custom.js"></script>
  </head>
  <body>
    <header id="main-menu">      
      <h1 id="title">Lectio</h1>
      <menu>
        <button id="go-stream" data-title="Stream">
          <svg version="1.0" x="0px" y="0px" width="25px" height="25px" fill="#fff" viewBox="0 0 56.768 100" enable-background="new 0 0 56.768 100">
          <path d="M56.73,51.016C50.203,34.18,43.675,17.343,37.147,0.507C37.034,0.217,36.813,0,36.481,0C29.968,0,23.454,0,16.94,0  c-0.177,0-0.309,0.063-0.415,0.151c-0.235,0.134-0.382,0.386-0.251,0.723c4.069,10.478,8.138,20.958,12.208,31.435  c-0.501,0-1.002,0-1.504,0c-3.309,0-6.618,0-9.927,0c-5.449,0-10.899,0-16.35,0c-0.414,0-0.831,0.448-0.665,0.875  c3.629,9.346,7.258,18.692,10.886,28.038c2.173,5.597,4.346,11.191,6.518,16.787c0.438,1.128,0.876,2.255,1.314,3.383  c-0.428,0.167-0.855,0.332-1.283,0.498c-1.219,0.473-2.439,0.945-3.658,1.419c-0.568,0.219-0.682,0.905-0.166,1.261  c7.404,5.11,14.809,10.221,22.212,15.331c0.361,0.248,0.919,0.001,1.015-0.412c2.017-8.763,4.034-17.525,6.051-26.288  c0.106-0.466-0.328-1.052-0.849-0.85c-0.942,0.364-1.883,0.729-2.823,1.093c-0.747,0.288-1.492,0.576-2.237,0.865  c-0.005,0.002-0.007,0.004-0.011,0.006c-0.784-2.021-1.568-4.039-2.353-6.06c-2.118-5.454-4.236-10.909-6.355-16.364  c0.705,0,1.41,0,2.115,0c3.429,0,6.857,0,10.287,0c5.121,0,10.243,0,15.366,0C56.479,51.891,56.896,51.443,56.73,51.016z"/>
          </svg>
        </button>
        <button id="go-read-later" data-title="Reading area">
          <svg version="1.0" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 67.541 100" enable-background="new 0 0 67.541 100"><path fill="#fff" d="M67.541,0L14.616,2.714L0,7.311V73.49l45.855,26.474V100l0.039-0.012l0,0l16.991-5.338V66.18h4.655V0zM60.492,93.025l-12.223,3.94V33.062L4.358,7.571l12.081-3.804l44.071,25.444L60.492,66.18V93.025z"/>
          </svg>
        </button>
      </menu>
      <iframe class="vote"  src="http://nodeknockout.com/iframe/shambolic?css=https://gist.github.com/raw/1176452/67f88ca339ae6a0b32e22cdcc41fac6aa07c2c24/vote.css" frameBorder="0" scrolling="no" allowtransparency="true" width="200" height="50"></iframe>
    </header>
    <div id="read-later">
      <div id="empty">
        <h1>Your reading area is empty!</h1>
        <p>Add to it by clicking the star icon on articles in your stream.</p>
        <p>Items added here are readable even if you are offline.</p>
      </div>
    </div>
    <div id="offline">
      <h1>You are currently offline.</h1>
      <p>Items that you saved in your reading list will still be available.</p>
    </div>
    <menu id="read-later-menu">
      <button id="go-previous">
        <svg version="1.0" x="0px" y="0px" width="20px" height="20px" fill="#999999" viewBox="0 0 100 83.584" enable-background="new 0 0 100 83.584"><polygon points="41.791,83.527 0,41.736 41.791,0 69.337,0 37.562,31.777 100,31.777 100,51.977 37.785,51.977 69.394,83.584  41.791,83.527 "/></svg>
      </button>
      <span id="current-article"></span>
      <button id="go-next">
        <svg version="1.0" x="0px" y="0px" width="20px" height="20px" fill="#999999" viewBox="0 0 100 83.641" enable-background="new 0 0 100 83.641"><polygon points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0   58.263,0.056 "/></svg>
      </button>
      <h1></h1>
      <button id="remove" data-title="Remove from list">
        <svg version="1.0" x="0px" y="0px" width="20px" height="20px" fill="#999999" viewBox="0 0 77.196 100" enable-background="new 0 0 77.196 100"><path d="M70.525,10.839H59.484V8.457C59.484,3.793,55.69,0,51.027,0H26.169c-4.663,0-8.457,3.793-8.457,8.457v2.382H6.671  C2.987,10.839,0,13.826,0,17.51v4.329h4.13v67.678C4.13,95.297,8.833,100,14.613,100h47.969c5.78,0,10.483-4.703,10.483-10.483  V21.839h4.13V17.51C77.196,13.826,74.208,10.839,70.525,10.839z M23.863,8.457c0-1.271,1.034-2.307,2.306-2.307h24.858  c1.271,0,2.307,1.035,2.307,2.307v2.382H23.863V8.457z M65.442,89.517c0,1.576-1.283,2.858-2.859,2.858H14.613  c-1.577,0-2.859-1.282-2.859-2.858V21.839h53.688V89.517z"/><rect x="34.786" y="24.958" width="7.625" height="64.486"/><rect x="51.86" y="24.958" width="7.624" height="64.486"/><rect x="17.712" y="24.958" width="7.625" height="64.486"/>
        </svg>
      </button>
    </menu>
    <div id="stream" class="inactive scrollable vertical"></div>
    <article id="reading-now" class="scrollable vertical"></article>
    <script type="text/template" id="preview-template">
      <button class="read-later" data-title="Read later">
        <svg fill="#999999" version="1.0" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 100 95.105" enable-background="new 0 0 100 95.105"><polygon points="50,0 61.803,36.327 100,36.327 69.098,58.778 80.902,95.105 50,72.654 19.098,95.105 30.902,58.778 0,36.327  38.197,36.327 "/>
        </svg>
      </button>
      <h1><%= title %></h1>
      <p><%= summary %></p>
    </script>
    <script type="text/template" id="article-template">
      <header>
        <h1><%= title %></h1>
        <p class="meta <%= sourceClass %>">
          Via <%= source.name %>,
          <time datetime="<%= published %>" pubdate><%= date %></time>
          <a href="<%= source.url %>">
            <svg fill="#666666" version="1.0" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 100 99.931" enable-background="new 0 0 100 99.931"><polygon points="24.84,0 100,0 100,75.16 75.229,99.931 75.229,42.817 19.037,98.938 0.849,80.75 56.83,24.771 0,24.771 24.84,0 "/>
            </svg>
          </a>
        </p>
      </header>
      <%= body %>
    </script>
    <script type="text/template" id="read-later-template">
      <header>
        <h1><%= title %></h1>
        <p class="meta <%= sourceClass %>">
          Via <%= source.name %>,
          <time datetime="<%= published %>" pubdate><%= date %></time>
          <a href="<%= source.url %>">
            <svg fill="#666666" version="1.0" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 100 99.931" enable-background="new 0 0 100 99.931"><polygon points="24.84,0 100,0 100,75.16 75.229,99.931 75.229,42.817 19.037,98.938 0.849,80.75 56.83,24.771 0,24.771 24.84,0 "/>
            </svg>
          </a>
        </p>
      </header>
      <%= body %>
    </script>
    {{ if (env == "not-production") { }}
    <script src="/js/lectio.js"></script>
    {{  } else { }}
    <script src="/js/prototypes.js"></script>
    <script src="/js/jquery-1.6.2.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/localstorage.js"></script>
    <script src="/js/scrollability.js"></script>
    <script src="/js/pretty-date.js"></script>
    <script src="/js/jquery.tipsy.js"></script>
    <script>Lectio = {};</script>
    <script src="/js/models.js"></script>
    <script src="/js/views.js"></script>
    <script src="/js/router.js"></script>
    <script src="/js/focusmanager.js"></script>
    <script src="/js/offlinemanager.js"></script>
    <script src="/js/app.js"></script>
    {{ } }}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/zappa/zappa.js"></script>
    <script src="/realtime.js"></script>
  </body>
</html>
